# Dependencies
node_modules/

# Environment
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
dist/
build/

# Local Netlify folder
.netlify
